# Virtual environment
.venv/
venv/
ENV/
env/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files to ignore
*.log
*.DS_Store